<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="1" android:versionName="1.0" package="eu.pochet.domotix"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/logo" android:screenOrientation="landscape" android:allowBackup="true" android:logo="@drawable/logo" android:hardwareAccelerated="true" android:uiOptions="splitActionBarWhenNarrow">
        <activity android:label="@string/app_name" android:name="eu.pochet.domotix.DomotixActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name_settings" android:name="DomotixActivity$SettingsActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="eu.pochet.domotix.DomotixActivity" />
        </activity>
        <service android:name=".service.ActionService" />
        <!-- <service android:name=".service.LightStatusUpdateService" /> -->
        <service android:name=".service.UDPListenerService"></service>
        <service android:name=".service.UpdateDaoService"></service>
        <!-- <service android:name=".service.WebsocketClientUpdateService"></service> -->
    </application>
</manifest>
