html, body { 
  height: 100%; 
}
h1 {
  text-shadow: 2px 2px 2px #ccc;
}
h3,
h4 {
  text-shadow: 1px 1px 1px #ccc;
}
a:hover {
  text-decoration: none;
}
#packets {
  overflow: auto;
  max-height: 600px;
  font-size: 11px;
}
#motes,
#events {
  overflow: auto;
  max-height: 600px;
}
.even {
  background-color: #f0f0f0;
}
