#moteDetails
    .modal-header
        button(type="button", aria-hidden="true", ng-click="close()").close &times;                
        h3 Mote Details

    .modal-body
        dl.dl-horizontal
            dt Product Code
            dd {{modelMote.productCode}}
            dt State
            dd {{modelMote.state.str}}
            dt Last Status
            dd {{modelMote.lastStatusTime | date:'dd/MM/yyyy @ HH:mm:ss'}}
        legend Standard registers
        form(name="form").form-horizontal
            .control-group
                label.control-label Location:
                .controls
                    input(type='text', placeholder="Room ...",ng-model='mote.location', required)
            .control-group
                label.control-label Address:
                .controls
                    input(type='number', placeholder="Not 1 ...", ng-model='mote.address', required)
            .control-group
                label.control-label Channel:
                .controls
                    input(type='number', placeholder="Be careful ...", ng-model='mote.channel', required)
            .control-group
                label.control-label Network:
                .controls
                    input(type='text', placeholder="Be careful ...", ng-model='mote.network', required)
            .control-group
                label.control-label Transmit Interval (s):
                .controls
                    input(type='number', placeholder="In seconds ...", ng-model='mote.txInterval', required)   
         
    .modal-footer
        span.pull-left(ng-show='showSetSync')
            span.label.label-info Info
            |  Set device in <em> Sync Mode </em> to save change
        a(ng-click='delete(mote)', ng-hide='showSetSync').btn.btn-danger.pull-left Delete
        a(href="#", ng-click='close()').btn Close  
        button(ng-click='close(mote)', ng-disabled="form.$invalid || showSetSync" ).btn.btn-primary Save changes
