#deviceDetails
    .modal-header
        button(type="button", aria-hidden="true", data-dismiss="modal").close &times;
        h3 device Details {{essai}}

    .modal-body
        legend Standard registers
        .row
            .span4
                label Product Code: \{\{device.productCode\}\}
                //- label Hardware Version: {{device.version.hardware}}
                //- label Firmware Version: {{device.version.firmware}}
                label State: {{device.state.str}}
                label Last Status at: {{renderDate(device.lastStatusTime)}}
                label Location:
                input(type='text', ng-model='device.location')
                label Address:
                input(type='number', ng-model='device.address')
            .span4
                label Channel:
                input(type='number', ng-model='device.frequencyChannel')
                label Network:
                input(type='text', ng-model='device.networkId')
                label Transmit Interval (s):
                input(type='number', ng-model='device.txInterval')
                | {{device}}
            a.btn(ng-click='essai()') Cool
            
    .modal-footer
        a(href="#", ng-click='closedeviceDetails()').btn Close
        a(href="#", ng-click='savedeviceDetails()').btn.btn-primary Save changes
