script(type='text/javascript').
  $(document).ready(function() {
    alert('');
  })
#chart_temperature
nvd3-cumulative-line-chart(data="exampleData", id="exampleId", width="650", height="400", showXAxis="true", showYAxis="true", tooltips="true", interactive="true", margin="{left:70,top:70,bottom:70,right:125}")
  svg