extends layout
block content
  tabs
    pane(title="Domotix")
      include ./domotix.jade
    pane(title="Devices")
      include ./devices.jade
    pane(title="Config")
      include ./config.jade
    pane(title="Network")
      include ./network.jade
    pane(title="Events")
      include ./events.jade
    pane(title="Plugins")
      include ./plugins.jade
    pane(title="Admin")
      include ./admin.jade
