doctype html
html(lang="en", ng-app="swapApp")
  head

    // this imports the whole minified js/css in client/code/libs+app, client/code/css
    != SocketStream
    
    meta(charset="utf-8")
    block title
      title Domotix Swap Gateway
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    meta(name="description", content="Domotix SWAP Interface")
    meta(name="author", content="Romuald Pochet")

    // if lt IE 9
    script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    link(rel="shortcut icon", href="favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

  body
    toast
    
    block content
    
    // popup when connection is lost
    #warning.modal.hide.fade
      .modal-header
        h3 Connection Lost !
      .modal-body
        p 
        | The connection to the server has been lost
      .modal-footer
