.plugins
  tabs
    pane(title="Barometre")
      iframe(src="/pressure.html", width="100%", height="740", frameborder="0")
    pane(title="Température")
      include ./chart_temperature.jade
    pane(title="Eau - electricite...")
      include ./chart_consommation.jade
